@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <title>Error</title>
</head>
<body>
    <h2>Error. Please try again later</h2>
</body>
</html>


