@{
//Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <title>Booking airline tickets</title>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //hent alle origin elementer fra routes tabellen
            $.ajax({
                url: '/Home/GetOrigin',
                type: 'GET',
                dataType: 'json',
                success: function (originList) {
                    showDropDown1(originList);
                },
                error: function () {
                    alert("Problem rendering data. Please try again later");
                }
            });

            //vis alle byer man kan reise fra
            function showDropDown1(originList) {
                var result = "";
                for (var i in originList) {
                    result += "<option value='" + originList[i] + "'>" + originList[i] + "</option>";
                }
                $("#drop1").empty().append(result);
            }

            //opprett en hendelse på dropdown-listen når siden lastes
            $("#drop1").click(function () {
                var chosenOrigin = $(this).val();
                $.ajax({
                    url: '/Home/GetDestination',
                    type: 'GET',
                    data: { fromOrigin: chosenOrigin },
                    dataType: 'json',
                    success: function (destinationList) {
                        showDropDown2(destinationList);
                    },
                    error: function (x, y, z) {
                        alert("Problem rendering data. Please try again later");
                    }
                });
            });

            //vis alle elementer dropdown list nr 2
            function showDropDown2(destinationList) {
                var result = "";
                for (var i in destinationList) {
                    result += "<option value='" + destinationList[i] + "'>" + destinationList[i] + "</option>";
                    $("#drop2").empty().append(result);
                }
            }

            //hent avganger når knappen search trykkes
            $("#searchButton").click(function () {
                $("#drop1").prop("disabled", true);
                $("#drop2").prop("disabled", true);
                $("#drop3").prop("disabled", true);
                $(this).prop("disabled", true);
                var from = $("#drop1").val();
                var to = $("#drop2").val();
                var nr = $("#drop3").val();
                $.ajax({
                    url: '/Home/GetSchedule',
                    type: 'GET',
                    data: { fromOrigin: from, toDestination: to, passengers: nr },
                    dataType: 'json',
                    success: function (scheduleList) {
                        showFlights(scheduleList);
                    },
                    error: function (x, y, x) {
                        $("#routes").empty().append(x.toString());
                    }
                });
            });

            //vis avganger
            function showFlights(scheduleList) {
                if (scheduleList.length == 0) {
                    $("#flights").empty().append("</br></br>No flights matching your criteria");
                    $("#bookButton").css('visibility', 'hidden');
                    return;
                }
                var data = "<form><table class='table'><tr><th>Select</th><th>Departure</th><th>Arrival</th><th class='price'>Price</th></tr>";
                for (var i in scheduleList) {
                    data += "<tr><td><input type='radio' + name='flight' + id='flight' + value='" + scheduleList[i].id + "' ></td>" + "<td>" + scheduleList[i].departureDate + "</td><td>" + scheduleList[i].arrivalDate + "</td><td class='price'>" + scheduleList[i].price + "</td></tr>";
                }
                data += "</form>"
                $("#flights").empty().append(data);
                $("#bookButton").css('visibility', 'visible');
            }

            //gå til booking siden når book knappen trykkes
            $("#book").click(function () {
                if ($('input:radio:checked').length > 0) {
                    var nr = $("#drop3").val();
                    var flightId = $("#flight").val();
                    window.location = '/Home/BookFlight?flightId=' + flightId + '&passengers=' + nr;
                } else {
                    alert("Choose a flight");
                } 
            });
        });

    </script>
</head>
<body>
    <h3>Book a flight</h3>
    <div class="dropDown">
        <div class="row">
            <div id="dropDown1" class="col col-sm-2">
                <div class="label">From:</div><br />
                <select id="drop1" class="btn btn-primary btn-lg dropdown-toggle"></select>
            </div>
            <div id="dropDown2" class="col col-sm-2">
                <div class="label">To: </div><br />
                <select id="drop2" class="btn btn-primary btn-lg dropdown-toggle"></select>
            </div>
            <div id="dropDown3" class="col">
                <div class="label">Passengers: </div><br />
                <select id="drop3" class="btn btn-primary btn-lg dropdown-toggle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div></br>
        <p><button id="searchButton" class="btn btn-lg btn-primary" name="search">Search flights</button></p>
    </div>
    <div id="flights">
    </div>
    <div id="bookButton" style="visibility: hidden">
        <button id="book" class="btn btn-lg btn-primary" name="book" >Book selected flight</button>
    </div>
</body>
</html>