@model BookingSystem.Models.Ticket

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
